<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.dao.MemberDAO">
	<insert id ="memberInsert">
		insert into member(userid, userpwd, username, tel, email)
					values(#{userid}, #{userpwd}, #{username}, #{tel}, #{email})
	</insert>
	<select id="loginCheck" resultType="com.campus.myapp.vo.MemberVO">
		select userid, username from member
		where userid=#{userid} and userpwd=#{userpwd}
	</select>
	<select id ="memberSelect" resultType="com.campus.myapp.vo.MemberVO">
		select userid, username, tel, email from member
		where userid=#{param1}<!-- 첫번째 변수는 param1, 두번때는 param2,.,., 자동 저장 -->
	</select>
	<update id="memberUpdate">
        update member set username=#{username}, tel=#{tel}, email=#{email}
    	where userid = #{userid} and userpwd = #{userpwd}
    </update>
    <select id="idCheck" resultType="int">
   		select count(userid) cnt from member where userid=#{param1}
	</select>
</mapper>