<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 배열을 이용한 반복문 처리 
            v-for문
        -->
        <h1>배열반복</h1>
         <ol>
             <!--   <li>10</li> -->
             <!--          10     0 -->
             <li v-for="(v, i) in arr">{{v}} ==> {{i}} </li>
             <li v-for="(value) in arr">{{value}}</li>
         </ol>
         <h2>json데이터 반복</h2>
         <ul>
             <!--        value, key, index -->
             <li v-for="(v,    k,   i) in countrys">{{k}}, {{v}}, ({{i}})</li>
         </ul>
         <ul>
            <li v-for="sport in sportsman" v-if="sport.no < 3">
                <h2>번호: {{sport.no}}</h2>
                <h2>이름: {{sport.name}}</h2>
                <h2>종목: {{sport.sports}}</h2>
                <img v-bind:src="sport.img" alt="dd" width="200px"/>

            </li>

         </ul>
    </div>
    <script>
        new Vue({
            el : "#app",
            data : {
                //배열형 데이터
                arr : [10,20,30,"파인애플", "홍길동","역삼동"],
                countrys : {
                    city1 : "서울",
                    city2 : "룩셈부르크",
                    city3 : "암스테르담",
                    city4 : "베이징",
                    city5 : "도쿄"
                },
                sportsman:[
                    {no:1, name:'손흥민', sports:'축구', img:'img/flower02.jpg'},
                    {no:2, name:'박태환', sports:'수영', img:'img/flower03.jpg'},
                    {no:3, name:'김연경', sports:'배구', img:'img/flower04.jpg'},
                    {no:4, name:'김연ㅇ', sports:'피겨스케이팅', img:'img/flower05.jpg'}
                ]
            }
        });

    </script>

</body>
</html>